<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>세종사이버대 LMS 작업현황판</title>
</head>
<body>
<h1>세종사이버대 LMS</h1>
<div class="status_menu">
	<ul>
		<li><a href="status_common.html" target="_self">가이드 및 공통페이지</a></li>
		<li class="on"><a href="status_student.html" target="_self">학생(student)</a></li>
		<li><a href="status_graduate.html" target="_self">대학원(graduate)</a></li>
		<li><a href="status_professor.html" target="_self">교수(professor)</a></li>
		<li><a href="status_admin.html" target="_self">관리자(admin)</a></li>
		<li><a href="status_edu.html" target="_self">평생교육원</a></li>
		<li><a href="status_eduManagement.html" target="_self">학사관리시스템</a></li>
		<li><a href="status_lmsEtc.html" target="_self">기타(lmsEtc)</a></li>
	</ul>
</div>

	<p class="totalpage"></p>

	<table>
		<caption>학생(student)</caption>
		<colgroup><col width="12%" /><col width="12%" /><col width="12%" /><col width="15%" /><col width="15%" /><col width="6%" /><col width="12%" /><col width="*" /></colgroup>
		<thead>
			<tr>
				<th scope="col">2depth</th>
				<th scope="col">3depth</th>
				<th scope="col">4depth or tab</th>
				<th scope="col">path</th>
				<th scope="col">file</th>
				<th scope="col" title="△ :대기 / ○ :부분완료 / ● :완료">stat</th>
				<th scope="col" title="yyyy-mm-dd">date</th>
				<th scope="col">note</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>마이페이지</td>
				<td>메인</td>
				<td></td>
				<td>mypage</td>
				<td class="file"><a target="_blank" href="student/mypage/main.jsp">main.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">
					2018-08-15 수정
				</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>pop_제3자개인정보동의</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/pop_personalData_agree.jsp">pop_personalData_agree.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-09-04</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>메인_과목없음(교수도 동일)</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/main_no_data.jsp">main_no_data.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-06</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>메인_과목없음(교수도 동일)</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/main_no_data2.jsp">main_no_data2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2018-08-13</td>
				<td class="note">no-data 축소버전(수강이력이 없는 경우)</td>
			</tr>
			<tr>
				<td></td>
				<td>ID card(일반)</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/idCard_default.jsp">idCard_default.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-07-15</td>
				<td class="note">일반버전</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/idCard_default_noImg.jsp">idCard_default_noImg.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-07-15</td>
				<td class="note">사진없을때</td>
			</tr>
			<tr>
				<td></td>
				<td>ID card(심플)</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/idCard_basic.jsp">idCard_basic.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-07-15</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/idCard_basic_noImg.jsp">idCard_basic_noImg.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-07-15</td>
				<td class="note">사진없을때</td>
			</tr>
			<tr>
				<td></td>
				<td>정보수정</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/modity.jsp">modity.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-30</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>캠퍼스마일리지</td>
				<td>캠퍼스마일리지란?</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/mileage.jsp">mileage.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-27</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>마일리지 신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/mileage_apply.jsp">mileage_apply.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-27</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>마일리지 현황</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/mileage_view.jsp">mileage_view.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-27</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>학사일정안내</td>
				<td>월별</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/calendar_academic.jsp">calendar_academic.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-21</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>요약</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/calendar_academic2.jsp">calendar_academic2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-22</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>학습일정안내</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/calendar_learn.jsp">calendar_learn.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-20</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>pop_학습일정안내</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/pop_calendar_learn.jsp">pop_calendar_learn.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-16</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>쪽지함</td>
				<td>tab_쪽지보내기</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/message_tab1.jsp">message_tab1.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>pop_대상자선택(주소록)</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/message_pop1.jsp">message_pop1.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>pop_대상자선택(검색)</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/message_pop2.jsp">message_pop2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>tab_보낸쪽지함</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/message_tab2.jsp">message_tab2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>tab_받은쪽지함</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/message_tab3.jsp">message_tab3.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>주소록관리</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/address.jsp">address.jsp</a></td>
				<td class="stat"></td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>즐겨찾기관리</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mypage/bookmark.jsp">bookmark.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-21</td>
				<td class="note"></td>
			</tr>
			<tr class="line">
				<td>강의실</td>
				<td>메인</td>
				<td></td>
				<td>classroom</td>
				<td class="file"><a target="_blank" href="student/classroom/main.jsp">main.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">
					2017-11-04<br />
					2018-08-15 수정
				</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>메인_과목없음</td>
				<td></td>
				<td>classroom</td>
				<td class="file"><a target="_blank" href="student/classroom/main_no_data2.jsp">main_no_data2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2018-08-22</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>강좌메인</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/course_main.jsp">course_main.jsp</a></td>
				<td class="stat"></td>
				<td class="date">
					2018-08-15 수정<br />
					2018-11-23 수정
				</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>강의계획서</td>
				<td>주별강의내용</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/program_tab2.jsp">program_tab2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-28</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>교수소개</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/program_tab3.jsp">program_tab3.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>LIVE강의실 운영시간</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/operating.jsp">operating.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-27</td>
				<td class="note">수정완료</td>
			</tr>
			<tr>
				<td></td>
				<td>강의보기</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/listen.jsp">listen.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">
					2018-11-23 수정
				</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>과제제출</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/work_submitted.jsp">work_submitted.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>상세</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/work_submitted_view.jsp">work_submitted_view.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>퀴즈</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/quiz.jsp">quiz.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>pop_퀴즈응시</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/quiz_pop1.jsp">quiz_pop1.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-22</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>pop_결과조회</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/quiz_pop2.jsp">quiz_pop2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-22</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>토론방</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/newsgroup.jsp">newsgroup.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-18</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>상세</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/newsgroup_view.jsp">newsgroup_view.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-18</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>팀프로젝트</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/team_project_tab1.jsp">team_project_tab1.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-18</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>팀 구성원</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/team_project_tab2.jsp">team_project_tab2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-18</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>강의평가</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/lecture_evaluation.jsp">lecture_evaluation.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-18</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>온라인설문</td>
				<td>pop_설문참여</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/pop_survey.jsp">pop_survey.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-24</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>pop_설문참여결과</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/pop_survey_effect.jsp">pop_survey_effect.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-24</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>나의수업관리</td>
				<td>강의실활동현황</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/myClass_classroom.jsp">myClass_classroom.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-08</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>나의수업현황</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/classroom/myClass_state.jsp">myClass_state.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-20</td>
				<td class="note"></td>
			</tr>
			<tr class="line">
				<td>학생지원센터</td>
				<td>메인</td>
				<td></td>
				<td>support</td>
				<td class="file"><a target="_blank" href="student/support/main.jsp">main.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-24</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>교과과정</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/curriculum.jsp">curriculum.jsp</a></td>
				<td class="stat"></td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>학기별개설과목</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/openSubject.jsp">openSubject.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-30</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>학적조회</td>
				<td>학적기본사항</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_tab1.jsp">register_tab1.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2018-12-18 수정</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>이수성적내역</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_tab4.jsp">register_tab4.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>성적조회</td>
				<td>전체과목이수현황</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/results_state.jsp">results_state.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>국가자격증과목이수현황_tab_사회복지사2급</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_state_tab1.jsp">certificate_state_tab1.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-25</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>국가자격증과목이수현황_tab_보육교사2급</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_state_tab2.jsp">certificate_state_tab2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-25</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>국가자격증과목이수현황_tab_건강가정사</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_state_tab3.jsp">certificate_state_tab3.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-25</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>국가자격증과목이수현황_tab_평생교육사</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_state_tab4.jsp">certificate_state_tab4.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-25</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>국가자격증과목이수현황_tab_한국어교원2급</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_state_tab5.jsp">certificate_state_tab5.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-09-25</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>학점포기신청</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/GiveUpCredit.jsp">GiveUpCredit.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/GiveUpCredit_write.jsp">GiveUpCredit_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_pop</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/GiveUpCredit_pop.jsp">GiveUpCredit_pop.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>수강신청</td>
				<td>수강신청현황</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/courses_state_tab1.jsp">courses_state_tab1.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">
					2018.08.15 수정<br />
					2018.12.06 수정
				</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>전공과목수강신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/courses_state_tab2.jsp">courses_state_tab2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2018.08.15 수정</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>기준학점미만 수강신청 사유서 제출</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/course_reasons_submit.jsp">course_reasons_submit.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2018.12.06 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>pop_기준학점미만 수강신청 사유서 제출 안내</td>
				<td></td>
				<td class="file"><a target="_blank"
						href="student/support/pop_reasons_notice.jsp">pop_reasons_notice.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019.09.06 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>pop_기준학점미만 수강신청 사유서 제출</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/pop_reasons_submit.jsp">pop_reasons_submit.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2018.12.06 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>수강포기신청</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/GiveUpCourse.jsp">GiveUpCourse.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2018-12-18 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/GiveUpCourse_write.jsp">GiveUpCourse_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2018-12-18 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>등록금납부</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/payTuition.jsp">payTuition.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-26</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>학자금대출</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/loan.jsp">loan.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-30</td>
				<td class="note"></td>
			</tr>
			<!--
			<tr>
				<td></td>
				<td>학자금대출</td>
				<td>든든학자금</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/loan_tab1.jsp">loan_tab1.jsp</a></td>
				<td class="stat"></td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>일반상환학자금</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/loan_tab2.jsp">loan_tab2.jsp</a></td>
				<td class="stat"></td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>농어촌출신대학생 학자금</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/loan_tab3.jsp">loan_tab3.jsp</a></td>
				<td class="stat"></td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			-->
			<tr>
				<td></td>
				<td>장학신청</td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/scholarship_write.jsp">scholarship_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>학적변동신청</td>
				<td>휴학상담신청안내</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_leaveOfAbsence_info.jsp">register_leaveOfAbsence_info.jsp</a></td>
				<td class="stat">○</td>
				<td class="date">2017-10-29</td>
				<td class="note">* 입영통지서 아이콘 확인요망</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>휴학신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_leaveOfAbsence.jsp">register_leaveOfAbsence.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_leaveOfAbsence_write.jsp">register_leaveOfAbsence_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>자퇴신청안내</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_leave_info.jsp">register_leave_info.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>자퇴신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_leave.jsp">register_leave.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_leave_write.jsp">register_leave_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>복학신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_goBack.jsp">register_goBack.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_goBack_write.jsp">register_goBack_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>조기졸업신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_earlyGraduation.jsp">register_earlyGraduation.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_earlyGraduation_write.jsp">register_earlyGraduation_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>졸업유예신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_GraduateFromGrace.jsp">register_GraduateFromGrace.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_GraduateFromGrace_write.jsp">register_GraduateFromGrace_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>전과신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_major.jsp">register_major.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_major_write.jsp">register_major_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>복수전공신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_doubleMajor.jsp">register_doubleMajor.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_doubleMajor_write.jsp">register_doubleMajor_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2018-12-18 수정</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>복수전공이수포기신청 </td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_doubleMajor2_write.jsp">register_doubleMajor2_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>부전공신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_minor.jsp">register_minor.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_minor_write.jsp">register_minor_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>연계전공신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_interdisciplinary.jsp">register_interdisciplinary.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_interdisciplinary_write.jsp">register_interdisciplinary_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>학적기재사항정정신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_correction.jsp">register_correction.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/register_correction_write.jsp">register_correction_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>증명서발급신청</td>
				<td>온라인발급신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_online.jsp">certificate_online.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-28</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>방문/우편발급신청</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_mail.jsp">certificate_mail.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-28</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_mail_write.jsp">certificate_mail_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>FAX민원발급</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_fax.jsp">certificate_fax.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-28</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>학생증발급신청</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/studentID.jsp">studentID.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-28</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/studentID_write.jsp">studentID_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_상세</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/studentID_view.jsp">studentID_view.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>인증서예외신청</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/exception.jsp">exception.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-28</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/exception_write.jsp">exception_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>수료증/자격증신청</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate.jsp">certificate.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-28</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_write.jsp">certificate_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-28</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_pop</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/certificate_pop.jsp">certificate_pop.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-29</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>과정신청(아동)</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/programChild.jsp">programChild.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-28</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/support/programChild_write.jsp">programChild_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-10-28</td>
				<td class="note"></td>
			</tr>
			<tr class="line">
				<td>학생상담센터</td>
				<td>원격지원서비스</td>
				<td></td>
				<td>advice</td>
				<td class="file"><a target="_blank" href="student/advice/remoteSupport.jsp">remoteSupport.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>1:1온라인상담</td>
				<td>상담신청하기</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/advice/request_tab1.jsp">request_tab1.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>상세</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/advice/request_view.jsp">request_view.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>pop_교수상세</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/advice/pop_professor_view.jsp">pop_professor_view.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2018.08.22</td>
				<td class="note">모바일용</td>
			</tr>
			<tr class="line">
				<td>정보광장</td>
				<td>세종도서관</td>
				<td>도서관이용안내</td>
				<td>information</td>
				<td class="file"><a target="_blank" href="student/information/library_tab1.jsp">library_tab1.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>전자도서관</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/information/library_tab2.jsp">library_tab2.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>학위논문검색서비스</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/information/library_tab3.jsp">library_tab3.jsp</a></td>
				<td class="stat">●</td>
				<td class="date"></td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>폭력예방교육</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/information/preventionOfSchoolBiolence.jsp">preventionOfSchoolBiolence.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2017-11-05</td>
				<td class="note">* 동영상 없음</td>
			</tr>
			<tr class="line">
				<td>멘토링</td>
				<td>멘토링프로그램 안내</td>
				<td></td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/mentoring_guide.jsp">mentoring_guide.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>공지사항</td>
				<td>_목록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/stnotice_list.jsp">stnotice_list.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>공지사항</td>
				<td>_상세</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/stnotice_view.jsp">stnotice_view.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>멘토신청</td>
				<td>_정보</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/appli_mentor_info.jsp">appli_mentor_info.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>멘토신청</td>
				<td>_신청 Pop</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/appli_mentor.jsp">appli_mentor.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>멘티신청</td>
				<td>_정보</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/appli_mentee_info.jsp">appli_mentee_info.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>멘티신청</td>
				<td>_신청 Pop</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/appli_mentee.jsp">appli_mentee.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>마이 멘토링</td>
				<td>_목록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/mymentoring_list.jsp">mymentoring_list.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_상세</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/mymentoring_view.jsp">mymentoring_view.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/mentoring_write.jsp">mentoring_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td>멘토 활동보고서</td>
				<td>_목록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/report_list.jsp">report_list.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>_등록</td>
				<td></td>
				<td class="file"><a target="_blank" href="student/mentoring/report_write.jsp">report_write.jsp</a></td>
				<td class="stat">●</td>
				<td class="date">2019-12-19 신규</td>
				<td class="note"></td>
			</tr>
		</tbody>
	</table>

<style type="text/css">
* {margin:0; padding:0;font-size:11px;font-family:'NanumGothic', verdana;color:#666}
ol, ul {list-style:none;}
a {color:#27e; text-decoration:none;}
a:focus, a:hover, a:active {text-decoration:underline;}
body{padding:10px;}
h1{margin-bottom:20px;font-size:14px;}
h1 a{font-size:16px;color:#666}
.status_menu {overflow: hidden;width:100%;margin-bottom:20px;padding-bottom:1px;}
.status_menu li {float:left;width:25%;margin:0 -1px -1px 0;}
.status_menu li a {display:block;height:25px;border:1px solid #999;background:#fff;font-size:14px;color:#999;line-height:25px;text-align:center;}
.status_menu li a:hover {text-decoration:none;}
.status_menu li.on a {background:#999;color:#fff;font-weight:bold;}
.status_menu.menu01 li {width:100%;}
.status_menu.menu02 li {width:50%;}
.status_menu.menu03 li {width:33.3%;}
.status_menu.menu04 li {width:25%}
.status_menu.menu05 li {width:20%;}
.status_menu.menu06 li {width:33.3%;}
.totalpage{text-align:right;font-weight:bold;font-size:12px;}
.down{text-align:right;font-weight:bold;padding-top:10px;}
.down a{font-size:12px;color:#666}
table{width:100%;border-collapse:collapse;}
table caption{text-align:left;font-weight:bold;padding:10px 5px 5px;}
table th{border:1px solid #ddd;padding:5px;background:#f9f9f9}
table td{border:1px solid #ddd;padding:5px;}
table tr:hover td{background:#f3ffff}
table .stat,
table .data{text-align:center;}
table .line td{border-top:2px solid #999}
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
	jQuery.fn.stat = function (options) {
		var settings = jQuery.extend({
				total: '.totalpage',
				title: 'caption',
				content: 'table',
				files: 'tbody tr',
				stat: 'td.stat',
				completed: '●',
				index: 0,
				openAll: true,
				speed: 'fast'
			}, options),
			all_sections = this;
		return this.each(function () {
			var self = this,
				$self = $(self),
				title_text = [],
				completed = 0;
			self.section_title = $(settings.title, $self);
			self.content = $(settings.content, $self);
			self.files = $(settings.files, $self);
			self.files.each(function () {
				var stat = $(settings.stat, this);
				stat.each(function () {
					var text = $(this).text();
					if (text && (text === settings.completed)) {
						completed++;
					}
				});
			});
			title_text = [self.section_title.text(), '(', completed, '/', self.files.length, ')'];
			self.section_title.text(title_text.join(''));

			//total
			var completedAll = 0;
			$(settings.stat).each(function () {
				var text = $(this).text();
				if (text && (text == settings.completed)) {
					completedAll++;
				}
			});
			$(settings.total).text('(Total : '+completedAll+'/'+$(settings.files).length+'pages)');
		});
	};
	$(document).ready(function () {
		$('table').stat();
	});
</script>
</body>
</html>
